@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Kanit:ital,wght@0,400;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap");
$black: #1c2321;
$blue: #0047ab;
$grey: #7d98a1;
* {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.app {
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  & h1 {
    font-family: "Rubik Iso", cursive;
    margin-top: 50px;
    & b {
      font-size: 100px;
      color: $blue;
    }
  }
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  border-radius: 10px;
  width: 60%;
  height: 60vh;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .title {
      text-align: center;
      font-family: "Rubik Iso", cursive;
      font-size: 40px;
      width: 100%;
      margin-top: 20px;
    }
    .cardEmpty {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border-radius: 5px;
      background: $black;
      & p {
        padding: 10px;
        font-size: 30px;
      }
    }
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      border-radius: 5px;
      background: $black;
      .detail {
        display: flex;
        flex-direction: column;
        & h4 {
          padding: 10px;
          color: #0047ab;
          & span {
            font-size: 20px;
            font-weight: 600;
          }
        }
        & p {
          padding: 10px;
          color: #0047ab;
          & span {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
      & button {
        width: 35px;
        height: 35px;
        margin: 0px 10px;
        font-weight: 900;
        color: rgb(219, 0, 0);
        font-size: 20px;
        border-radius: 50%;
        border: none;
      }
    }
    .buttons {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin: 10px 0px;
      .add {
        font-weight: 600;
        color: #1c2321;
        padding: 10px;
        background: rgb(0, 179, 0);
        border: none;
      }
      .reset {
        font-weight: 600;
        color: #1c2321;
        padding: 10px;
        background: goldenrod;
        border: none;
      }
    }
  }
  .modalParent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70%;
      width: 40%;
      justify-content: space-evenly;
      background-color: #797979;
      border-radius: 30px;
      .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root
        .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        width: 100%;
      }
      .css-dmmspl-MuiFormGroup-root {
        display: flex;
      }
      .css-1m9pwf3 {
        background: #000;
      }
      .css-ahj2mt-MuiTypography-root {
        color: $black;
      }
    }
  }
}
